#img{
	background-image: url(../images/background_2.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}
h3{
	color: floralwhite;
}