#img{
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}
body{
	padding-top: 70px;
	opacity: 0.9;
	filter: alpha(opacity=40);
	font-size: 22px;
	color: whitesmoke;

}
.leaguePage img{
	float: right;
}
li{
	display:inline-block;
	color:white;
	margin-right:10px;
	text-align: center;
	line-height:1.5em;
	height:auto;
}


.panel-default {
	border-color: transparent; 
	opacity: 0.8;
	background-color: #001;
}

.panel-body {
	padding: 15px;
	color: white;
}

