<h1 class="text-center" style="color:white"><em>FOOTBALL LEAGUES</em></h1>
<div class="panel panel-default panel-transparent col-md-9 col-md-offset-2">
  <div class="panel-title">
    <div class="row" style="color:white">
      <strong>
      <div class="col-md-4"><em>LEAGUE NAME</em></div>
        <div class="col-md-4"><em>NUMBER OF TEAMS</em></div>
        <div class="col-md-4"><em>NUMBER OF GAMES</em></div>
      </strong>
    </div>
  </div>
  <div class="panel-body" ng-repeat="n in hc.football_leauges">
    <div class="row">
      <div class="col-md-4"><em>{{n.caption}}</em></div>
      <a ng-href="#/football_response/{{n.id}}">
        <div class="col-md-4"><em>{{n.numberOfTeams}}</em></div>
      </a>
      <div class="col-md-4"><em>{{n.numberOfGames}}</em></div>
    </div>
  </div>
</div>